/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: "Segoe UI", sans-serif;
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(6, 1fr);
    gap: 2px;
    padding: 2px;
}

/* Cell Styles */
.cell-hq {
    /* Span 6 rows, 1 column */
    grid-row: 2 / span 6;

    place-items: center;
    text-align: center;
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.hq-date {
    font-weight: bold;
    /* font-size: 1.2em; */
}

.header,
.city-cell {
    background: #ffffff00;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.header {
    border-bottom: 2px solid #999;
    font-weight: bold;
    font-size: 1.2em;
}

/* City Cell Styles */
.city-cell {
    display: grid;
    grid-template-columns: 1fr;
    /* One column for city */
    grid-template-rows: auto 1fr;
    /* Two rows: one for city, one for time */
    gap: 5px;
    /* Optional: space between city and time */
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.city-cell:hover {
    /* transform: translateY(-2px); */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); */
    background: #fafafa;
}

.city {
    font-size: 0.95rem;
    font-weight: 600;
}

.time {
    /* font-size: 1.1rem; */
    font-weight: 700;
}

.city button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #b0b0b0;
    background: transparent;
    color: #808080;
    font-size: 10px;
    font-weight: bold;
    padding: 0;
    line-height: 1;

    position: relative;
    top: -0.5em;
    /* move upward like superscript */
    margin-left: 2px;
    vertical-align: baseline;
}

.city-wrapper {
    position: relative;
    display: inline-block;
}

.info-dialog {
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    margin: 0;
}

.info-dialog::backdrop {
    background: transparent;
}

.au1Countdown,
.au2Countdown,
.nzCountdown {
    display: inline-block;
    min-width: 90px;
    color: #0078d4;
    /* font-weight: bold; */
}

.auStatus,
.nzStatus {
    color: brown;
}

.active {
    color: #3d813d;
    /* font-weight: bold; */
}

.dstChange {
    color: rgb(136, 136, 64);
    /* font-weight: bold; */
}